{{!< default}}
<div id="index">
	<div class="content-fixed cover">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-8.col-md-offset-2">
						<h1>Welcome</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="content-scrolling content-scrolling-article">
		<div class="container">
			<h3>- Nos derniers articles -</h3>
			{{# each data.posts.results}}
				<div class="col-sm-4 article">

					<!-- <div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post"> -->
						<a href="{{postUrl slug}}">
							<div class="post-article" style="background-image: url('images/header2-reduced.jpeg')" >
								<h2>{{{title}}}</h2>
								<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
									{{#if author.name.first}}by {{author.name.first}}{{/if}}
								</p>
								<!-- {{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}} -->
								<p>{{{content.brief}}}</p>
								{{#if content.extended}}
									<p class="read-more">Read more...</p>
								{{/if}}
							</div>
						</a>
					<!-- </div> -->
				</div>
				{{/each}}
				<div class="col-sm-12">
					<a href="/blog" class="btn btn-1"> <svg>
      </svg>Découvrez le reste de nos articles </a>
				</div>
		</div>
	</section>

	<div class="content-fixed cover2">
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-8.col-md-offset-2">
						<h1>PART2</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="content-scrolling cd-color-3">

	</section>
</div>
