{{!< default}}

<section>
	<div class="container-fluid">
		<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4>

		{{# each data.posts.results}}
		<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="post">
			<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
			<p class="lead text-muted">{{{categoryList categories prefix="Posted in "}}}
					{{#if author.name.first}}by {{author.name.first}}{{/if}}
			</p>
			{{#if image}}<img src="{{{cloudinaryUrl image width=160 height=160 crop='fit' }}}" class="img pull-right">{{/if}}
			<p>{{{content.brief}}}</p>
			{{#if content.extended}}<p class="read-more"><a href="{{postUrl slug}}">Read more...</a></p>{{/if}}
		</div>
		{{/each}}
		<div class="post">
			<h2><a href="{{postUrl slug}}">{{{title}}}</a></h2>
		<div class="col-md-12">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum eget sem vitae fermentum. Nunc pellentesque leo sed purus efficitur fringilla. Integer nisi urna, laoreet non lectus quis, pellentesque porttitor dolor. Cras varius augue ante, vitae posuere lorem viverra vel. Mauris fringilla urna et purus pharetra placerat. In ullamcorper, odio a elementum venenatis, urna ex suscipit nulla, in tincidunt quam sem vitae ipsum. Proin iaculis tellus dui, ut ultrices enim viverra vel. Aliquam porta purus ac ante scelerisque, non tristique mi sagittis. Quisque tincidunt porta arcu. Praesent ligula nibh, finibus ut tincidunt sit amet, aliquet at est. Pellentesque pellentesque dui sed magna rhoncus, nec vulputate justo eleifend. Duis molestie est eget nulla tempor, nec tempus nunc euismod. Aenean at magna at tellus pharetra aliquam sed a metus. Sed porttitor nulla et arcu malesuada pharetra. Aliquam laoreet vitae dui sit amet ullamcorper. Morbi tincidunt massa ac turpis mattis sollicitudin.
		</div>
		<div class="col-sm-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum eget sem vitae fermentum. Nunc pellentesque leo sed purus efficitur fringilla. Integer nisi urna, laoreet non lectus quis, pellentesque porttitor dolor. Cras varius augue ante, vitae posuere lorem viverra vel. Mauris fringilla urna et purus pharetra placerat. In ullamcorper, odio a elementum venenatis, urna ex suscipit nulla, in tincidunt quam sem vitae ipsum. Proin iaculis tellus dui, ut ultrices enim viverra vel. Aliquam porta purus ac ante scelerisque, non tristique mi sagittis. Quisque tincidunt porta arcu. Praesent ligula nibh, finibus ut tincidunt sit amet, aliquet at est. Pellentesque pellentesque dui sed magna rhoncus, nec vulputate justo eleifend. Duis molestie est eget nulla tempor, nec tempus nunc euismod. Aenean at magna at tellus pharetra aliquam sed a metus. Sed porttitor nulla et arcu malesuada pharetra. Aliquam laoreet vitae dui sit amet ullamcorper. Morbi tincidunt massa ac turpis mattis sollicitudin.
		</div>
		<div class="col-sm-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum eget sem vitae fermentum. Nunc pellentesque leo sed purus efficitur fringilla. Integer nisi urna, laoreet non lectus quis, pellentesque porttitor dolor. Cras varius augue ante, vitae posuere lorem viverra vel. Mauris fringilla urna et purus pharetra placerat. In ullamcorper, odio a elementum venenatis, urna ex suscipit nulla, in tincidunt quam sem vitae ipsum. Proin iaculis tellus dui, ut ultrices enim viverra vel. Aliquam porta purus ac ante scelerisque, non tristique mi sagittis. Quisque tincidunt porta arcu. Praesent ligula nibh, finibus ut tincidunt sit amet, aliquet at est. Pellentesque pellentesque dui sed magna rhoncus, nec vulputate justo eleifend. Duis molestie est eget nulla tempor, nec tempus nunc euismod. Aenean at magna at tellus pharetra aliquam sed a metus. Sed porttitor nulla et arcu malesuada pharetra. Aliquam laoreet vitae dui sit amet ullamcorper. Morbi tincidunt massa ac turpis mattis sollicitudin.
		</div>
		<div class="col-sm-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc interdum eget sem vitae fermentum. Nunc pellentesque leo sed purus efficitur fringilla. Integer nisi urna, laoreet non lectus quis, pellentesque porttitor dolor. Cras varius augue ante, vitae posuere lorem viverra vel. Mauris fringilla urna et purus pharetra placerat. In ullamcorper, odio a elementum venenatis, urna ex suscipit nulla, in tincidunt quam sem vitae ipsum. Proin iaculis tellus dui, ut ultrices enim viverra vel. Aliquam porta purus ac ante scelerisque, non tristique mi sagittis. Quisque tincidunt porta arcu. Praesent ligula nibh, finibus ut tincidunt sit amet, aliquet at est. Pellentesque pellentesque dui sed magna rhoncus, nec vulputate justo eleifend. Duis molestie est eget nulla tempor, nec tempus nunc euismod. Aenean at magna at tellus pharetra aliquam sed a metus. Sed porttitor nulla et arcu malesuada pharetra. Aliquam laoreet vitae dui sit amet ullamcorper. Morbi tincidunt massa ac turpis mattis sollicitudin.
		</div>
	</div>

	<div class="container">

	</div>
</section>
